__pycache__/
*.py[cod]
*$py.class
alembic/*.pyc

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.cache/

.coverage
.coverage*
coverage.xml
htmlcov/

.env

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log